@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "silk";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(21% 0.006 56.043);
  --color-primary: #9E1E18;
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: #09699C;
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: #F5AD08;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: #0E8EA9;
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


h3{
  @apply text-lg  text-primary ;
}

h2{
  @apply text-lg font-semibold text-primary ;
}

h4 {
  /*@apply text-primary text-success ;*/
  color: #165b33;
}
